<footer>
    <div class="container">
        <div class="main-content">

            <div class="left box">
              <h2>A propos</h2>
              <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga repellat neque numquam adipisci nulla animi eveniet, doloremque explicabo cupiditate consequatur amet reprehenderit corrupti deleniti iste harum, necessitatibus aperiam quod minima? </p>
                <div class="social">
                  <a href="https://facebook.com/coding.np"><span class="fab fa-facebook-f"></span></a>
                  <a href="#"><span class="fab fa-twitter"></span></a>
                  <a href="https://instagram.com/coding.np"><span class="fab fa-instagram"></span></a>
                  <a href="https://youtube.com/c/codingnepal"><span class="fab fa-youtube"></span></a>
                </div>
              </div>
            </div>
    
            <div class="center box">
              <h2>Adresse</h2>
              <div class="content">
                <div class="place">
                  <span class="fas fa-map-marker-alt"></span>
                  <span class="text">Abidjan , Côte d'Ivoire</span>
                </div>
                <div class="phone">
                  <span class="fas fa-phone-alt"></span>
                  <span class="text">+225 0778684509</span>
                </div>
                <div class="email">
                  <span class="fas fa-envelope"></span>
                  <span class="text">ivoirimmo@gmail.com</span>
                </div>
              </div>
            </div>
    
            <div class="right box">
              <h2>Contactez Nous</h2>
              <div class="content">
                <form action="#">
                  <div class="email">
                    <div class="text">Email *</div>
                    <input type="email" name="email" required>
                  </div>
                  <div class="msg">
                    <div class="text">Message *</div>
                   <textarea name="contactmessage" id="" cols="30" rows="2"></textarea>
                  </div>
                  <div class="btn">
                    <button type="submit">Envoyer</button>
                  </div>
                </form>
              </div>
            </div>
        </div>
    </div>
    
    
</footer>