<header>
    <nav>
        <img class="logo" src="../public/images/house-key-g791c9de4e_1280.png" alt="logo">
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="/connexion">Connexion</a></li>
        </ul>
    </nav>
</header>