<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a6db07c55e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="content">
        <div class="left">
            <div class="nav">
                <div class="clientConnect"><i class="fas fa-user"></i></div>
                <span>Clients connecés</span>
            </div>
            <div class="contentclient">
                <div class="clientList">
                    <div class="clientImage"><i class="fas fa-user"></i></div>
                    <div class="clientInos">
                        <div class="clientName"> Ouattara Affou</div>
                        <p></p>
                    </div>
                </div>
                <div class="clientList">
                    <div class="clientImage"><i class="fas fa-user"></i></div>
                    <div class="clientInos">
                        <div class="clientName"> Ouattara Affou</div>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="nav">
                <div class="userConnect"><i class="fas fa-user"></i></div>
                <div>
                    <span>Penuel Essoh</span>
                    <span>Clients connecés</span>
                </div>
            </div>
            <form class="form">
                <div>
                    <input type="text" placeholder="Tapez un message">
                    <button type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="../public/js/index.js"></script>
</body>
</html>